@CHARSET "UTF-8";

.index-body {
	
}

.header {
	text-align: center;
}

.header h1 {
	font-size: 160%;
	margin-top: 40px;
}

.sign-form {
	margin-top: 40px;
}

.sign-btn {
	width: 100%;
	margin-top: 15px;
}

.sign-text {
	margin-top: 15px;
}

.sign-in-la {
	float: right;
	font-size: small;
	font-weight: normal;
	margin-top: 15px;
}

.sign-rules-la {
	font-size: small;
	font-weight: normal;
	float: left;
	margin-top: 15px;
}

.sign-up {
	position: relative;
	left: 30%;
	margin-top: 10px;
	width: 500px;
	height: 480px;
	background-color: white;
	text-align: center;
}

.remember-me {
	float: left;
	margin-top: 20px;
}

.sign-up-la {
	float: right;
	margin-top: 20px;
}

.sign-in {
	position: relative;
	left: 30%;
	margin-top: 10px;
	width: 500px;
	height: 480px;
	background-color: white;
	text-align: center;
}

.sign-span {
	display: none;
}

#gray {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0px;
	display: none;
	z-index: 99;
}

#sign-in-page {
	width: 1120px;
	height: 500px;
	position: fixed;
	z-index: 100;
	left: 400px;
	top: 96px;
}

#sign-up-page {
	width: 1120px;
	height: 500px;
	position: fixed;
	z-index: 100;
	left: 400px;
	top: 96px;
}

.index-main {
	position: relative;
	width: 1050px;
	margin-top: 55px;
	left: 0px;
	right: 0px;
}

.index-sidebar {
	position: relative;
	margin-left: 30px;
	width: 200px;
	float: left;
}

.index-book {
	position: relative;
	margin-left: 8px;
	width: 770px;
	float: left;
}

.book-pic {
	position: relative;
	float: left;
	width: 115px;
	height: 164px;
}

.book-info {
	position: relative;
	left: 5px;
	margin-right: 5px;
	font-size: 12px;
	height: 100%
}

.price-info {
	font-size: 14px;
	margin-top: 30px;
}

.small-btn {
	text-align: center;
	float: right;
	width: 50px;
	height: inherit;
	background-color: rgba(201, 231, 201, 1);
}

.author-pic {
	position: relative;
	float: left;
	width: 80px;
	height: 100%;
}

.author-info {
	position: relative;
	left: 5px;
	margin-right: 5px;
	font-size: 12px;
	height: 100%
}

.book-left {
	float: left;
}

.book-right {
	float: right;
}

.footer {
	position: relative;
	top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer p {
	text-align: center;
	margin: 5px;
	color: #555
}

.footer hr {
	width: 1000px;
	height: 3px;
	border: none;
	border-top: 3px ridge orange;
}

.footer p a {
	margin: 0 5px;
	color: #555
}